@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #1a1a1c;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #132329;
    height: 120px;
    width: 100%;
    position: fixed;
    z-index: 90;
}

.navbar-logo {
    max-width: 150px;
    position: absolute;
    top: 25px;
    left: 25px;
}

.site-links {
    text-align: center;
    padding: 40px;
}

.site-link {
    text-decoration: none;
    color: #e9c46a;
    font-size: 25px;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 500;
    margin: 15px;
}

.dropdown-button {
    text-decoration: none;
    color: #e9c46a;
    font-size: 25px;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 500;
    margin: 15px;
}
.site-link:hover {
    color: #b48818;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #132329;
    min-width: 120px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .dropdown-link {
    color: #e9c46a;
    padding: 15px 5px;
    text-decoration: none;
    display: block;
    transition: 0.3s ease;
    font-size: 18px;
}

.dropdown-content .dropdown-link-pending {
    color: #a8a8a8;
    padding: 15px 5px;
    text-decoration: none;
    display: block;
    transition: 0.3s ease;
    font-size: 18px;
}

.dropdown-content .dropdown-link:hover {
    background-color: #1d3740;
}

.hero {
    text-align: center;
    background-color: #264653;
    padding-top: 120px;
}

.hero-logo {
    max-width: 48%;
    margin: 160px;
}

.mission {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #A8DED8;
}

.mission-header {
    font-size: 39px;
    font-weight: 600;
    margin: 65px 55px;
    color: #324158
}

.mission-line {
    height: 8px;
    width: 275px;
    border-radius: 15px;
    background-color: #78BEB5;
    margin: 15px;
}

.mission-text {
    color: #264653;
    margin: 15px;
    font-size: 30px;
    font-weight: 700;
    max-width: 40%;
    text-align: left;
}

.video {
    text-align: center;
    justify-content: center;
    padding: 65px;
    background-color: #78BEB5;
    margin: 10px 0px;
}

.workshops {
    text-align: center;
    justify-content: center;
    background-color: #264653;
    padding-bottom: 80px;
}

.workshops-header {
    color: white;
    font-size: 39px;
    font-weight: 600;
    padding: 40px 0px 30px;
}

.workshop-block {
    width: 350px;
    height: 350px;
}
.workshops-grid {
    display: grid;
    background-color: #264653;
    grid-template-columns: 350px 350px;
    grid-gap: 45px;
    padding: 45px;
    align-items: center;
    justify-content: center;
    margin: auto
}

.workshop-logo {
    max-width: 100px;
    padding: 15px;
}

.workshop-month {
    color: white;
    font-weight: 600;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

.workshop-title {
    color: white;
    margin: 0px;
    font-weight: 500;
    font-size: 20px;
    padding: 5px;
}

.workshop-text {
    color: #2f2f2f;
    text-align: center;
    padding: 0px 50px 50px;
    font-weight: 200;
    font-size: 16px;
}

.enactusUBC {
    background-color: #78BEB5;
    color: #264653;
    padding: 50px;
    text-align: center;
}

.enactusUBC-left {
    margin: 20px;
}

.enactusUBC-header {
    font-size: 35px;
    font-weight: 400;
}

.enactus-logo {
    max-width: 60px;
    max-height: 60px;
    margin: 5px
}

.enactusUBC-text {
    font-size: 19px;
    margin: 60px 50px 5px 50px
}

.enactusUBC-photo {
    max-width: 600px;
    margin: 70px;
    border: 10px #264653 solid;
}

.enactusUBC-link {
    text-decoration: underline;
    color: #264653;
    font-weight: 600;
}

.footer {
    background-color: #264653;
    padding: 1px 20px;
    height: 200px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.footer-logo img {
    max-width: 180px;
    vertical-align: middle;
    margin-top: 20px;
}

.footer-top-right {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 35px;
}

.social-icons {
    display: block;
    align-items: center;
    padding-top: 5px;
    margin-bottom: 20px;
}

.social-icons a {
    text-decoration: none;
    font-size: 38px;
    margin-right: 25px;
    color: #ABABAB;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #E7C268;
    transform: translateY(-5px);
}

/* Styles for Workshop 1 */
.workshop-title-page {
    background-color: #1d3740;
    padding-top: 120px;
    display: flex;
    justify-content: center;
}

.workshop-top-text {
    color: white;
    max-width: 65%;
    padding: 30px;
}

.workshop-icon {
    border-radius: 50%;
    max-width: 70px;
    padding: 50px;
}

.workshop-title-month {
    margin: 10px 3px;
    color: #E7C268;
    font-weight: 700;
    font-size: 30px;
}

.workshop-title-title {
    margin: 15px 3px;
    font-weight: 700;
    font-size: 50px;
}

.workshop-title-description {
    margin: 3px;
    font-weight: 200;
    font-size: 22px;
}

.instructions {
    background-color: #78BEB5;
    padding: 25px 0px;
}

.instruction-text {
    color:#264653;
    text-align: center;
    font-size: 21px;
    margin: 5px 20%;
    padding: 15px;
}

.workshop-header-arbitrary {
    margin: 5px 0px;
    background-color: #A8DED8;
    color: #264653;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.workshop-header-arbitrary-title {
    font-weight: 700;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    margin: 0px;
}

.workshop-arbitrary-video {
    background-color: #A8DED8;
    text-align: center;
    padding: 50px;
}

.design-process {
    text-align: center;
    margin: auto;
    max-width: 500px;
    padding: 20px;
}

.workshop-arb-twoblock {
    align-items: center;
    text-align: center;
    color: #264653;
    background-color: #F4A261;
}

.workshop-arb-twoblock-title {
    font-size: 35px;
    font-weight: 700;
    padding: 25px;
    margin: 0px;
}

.arb-blocks {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.workshop-arb-twoblock-block {
    width: 450px;
    height: 300px;
    background-color: rgb(237, 176, 125);
    margin: 20px 10px;
    padding: 15px;
}

.workshop-arb-twoblock-text {
    font-size: 20px;
    padding: 35px;
}

.workshop-arb-twoblock-button {
    background-color: rgb(237, 176, 125);
    border-radius: 20px;
    color: #264653;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 50px;
    border: 3px #264653 solid;
    margin: 120px 0px;
    cursor: pointer;
    transition: 0.3s ease;
}

.workshop-arb-twoblock-button:hover {
    background-color: white;
    color: rgb(237, 176, 125);
    border: 3px rgb(237, 176, 125) solid;
}

.workshop-arb-twoblock-text2 {
    font-size: 20px;
    color: #264653;
    padding: 3px 15px;
}

.share-activity {
    max-width: 900px;
    padding: 25px;
}

.workshop-arb-twoblock-button-research {
    background-color: #A8DED8;
    border-radius: 20px;
    color: #264653;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 50px;
    border: 3px #264653 solid;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 15px 5px 35px;
}

.workshop-arb-twoblock-button-research:hover {
    background-color: white;
    color: #A8DED8;
    border: 3px #A8DED8 solid;
}

.learning-challenge {
    background-color: #324158;
    color: #E7C268;
    text-align: center;
    padding: 35px;
    margin: 5px 0px;
}

.lc-title-text {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 0px;
}

.lc-title-line {
    width: 600px;
    height: 7px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
}

.lc-button {
    background-color: #324158;
    border-radius: 20px;
    color: #A8DED8;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 50px;
    border: 3px #A8DED8 solid;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.lc-button:hover {
    background-color: #6682ad;
    color: white;
    border: 3px #6682ad solid;
}



.lc-text {
    font-size: 20px;
    padding: 20px;
    font-weight: 500;
}

.async-video-container {
    padding: 150px;
    background-color: #264653;
    text-align: center;
    margin: auto;
}

.async-video {
    width: 945px;
    height: 533px;
}

.blog {
    text-decoration: none;
    color: #e9c46a;
    font-size: 25px;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 500;
    margin: 15px;
}

.first-blog {
    background-color: #78BEB5;
    color: #264653;
    padding: 30px;
    text-align: center;
    display: flex; /* Set the container to flex */
    margin-bottom: -90px;
}

.blog-photo1 {
    max-width: 700px;
    margin-top: 120px;
    border: 5px #264653 solid;
}

.blog-text {
    padding-top: 100px;
    margin-left: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.blog-text h2 {
    font-size: 1em;
    padding-right: 1px; 
    text-align: left;
    margin-top: 20px;
    margin-bottom: -20px; 
}

.read-time {
    font-size: 0.8em;
    color: #ffffff;
  }

  .blog-text h1 {
    margin-top: 50px;
    text-align: left
  }

  .blog-text p {
    text-align: left
  }